thresholds: {"h": 1e-3, "grad": 1e-4}
error_function: "custom"
exit_on_fail: True
write_geoms: True
geom_file: "geoms.xyz"
interfaces: 
    - {"label": "lead", "interface": "ORCA", "args": [], "kwargs": {}}
    - {"label": "advisor", "interface": "ORCA", "args": [], "kwargs": {}}
custom_error: {"name": "custom", "file": "custom", "function": "some_error_func"}