## Hamiltonian used
ham AM1

## Number of electrons in active space
numb_elec 6

## Number of orbitals in active space
numb_orb 4

## Number of external parameter for the Hamiltonian. If > 0 a file named ext_param has to be provided in the same folder.
external_par 54


## Additional potential for the QM calculation. Needs to be provided in the ext_param file.
add_pot true
